@import "../../vars.scss";

.about {
  &-con {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
  }
  &-me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, $color-prime, transparent);
    display: grid;
    place-items: center;
  }
  &-me-img {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
  }
  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  &-card {
    background-color: $color-bg-var;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: $trans;
    &:hover {
      background: transparent;
      border-color: $color-prime-var;
    }
    & h5 {
      font-size: 1rem;
    }
    & small {
      font-size: 0.8rem;
      color: $color-light
    }
  }
  &-icon {
    color: $color-prime;
    margin-bottom: 1rem;
  }
  &-content p {
    margin: 2rem 0 2.5rem;
    color: $color-light;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    &-con{
      grid-template-columns: 1fr;
      gap: 0;
    }
    &-me {
      width: 50%;
      margin: 2rem auto 4rem;
    }
    &-content p {
      margin: 1rem 0 1.5;
    }
  }
}
@media screen and (max-width: 600px) {
  .about {
    &-me {
      width: 65%;
      margin:  0 auto 3rem;
    }
    &-cards {
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
    &-content {
      text-align: center;
      & p {
        margin: 1.5rem 0;
      }
    }
  }
}