$color-bg: #1f1f38;
$color-bg-var: #2c2c6c;
$color-prime: #4db5ff;
$color-prime-var: rgba(77, 181, 255, 0.4);
$color-white: #ffffff;
$color-light: rgba(255, 255, 255, 0.6);
$con-w-lg: 75%;
$con-w-md: 86%;
$con-w-sm: 90%;
$trans: all 400ms ease;